.head{
    display: flex; 
    justify-content: center; 
    align-content: center;
    
}
.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
}

.math-toggle-box{
    display: flex; 
    justify-content: center; 

}
.math-choice{
    display: flex;
}