.head{
    display: flex; 
    justify-content: center; 
    align-content: center;
    padding: 12px;
}
.container{
    display: flex;
    height: 100%;
    justify-content: center;
}

.math-toggle-box{
    display: flex; 
    justify-content: center; 

}
.math-choice{
    display: flex;
}